# Virtual Environments
venv/
.venv/
env/
ENV/
__pycache__/
*.pyc

# Node Modules
node_modules/
dist/
.vite/

# System Files
.DS_Store
Thumbs.db

# Databases & local data (Template only)
backend/models/*.pkl
backend/db.copy.json

# Docker
.docker/
docker-compose.override.yml
